.libraryTabs {
    align-content: center;
    margin: 25px auto;
}

.jumbotronLibrary {
    align-content: center;
    text-align: center;
    background-image: url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-position: center 50%;
    background-size: cover;
    color: white;
}

.header {
    text-align: center;
    margin: 20px auto;
}

.poster {
    height: 250px;
    width: auto;
    margin-left: 50px;
}

.movieItem {
    width: 100%;
}

.movieBody {
    padding: 25px;
    margin-right: 10px;
}

.deleteBtn {
    margin-top: 25px;
}

.largePoster {
    height: 300px;
    width: auto;
    margin-left: 50px
}