body {
    background-color: #fff3eb;
    background-image: url("https://www.transparenttextures.com/patterns/climpek.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.book-img{
    float: left;
}
.label{
    text-align: center;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
input {
    width: auto;
}

.list-group-item {
    width: 100%
}

.nav-link {
    padding-right: 20px;
    padding-left: 20px;
}

.homeJumbo {
    align-content: center;
    text-align: center;
    height: 200px;
    background-image: url("https://bit.ly/2Qri4DN");
    background-position: center 50%;
    background-size: cover;
    color: white;
    text-shadow: 2px 2px black;
    border-radius: 0;
}

.active.nav-link {
    background-color: transparent;
}

.searchBody {
    margin: 0 auto;
}

.movieDetail {
    align-content: center;
    margin: 100px auto;
}

.formatBtn {
    margin: 15px;
}

.searchPoster {
    height: 250px;
    width: auto;
    
}

.detailHeader {
    text-align: center;
    margin-top: 50px;
}

.title {
    margin: 0;
}

.mediaPoster {
    float: none;
}

@media (min-width: 576px) {
    .mediaPoster {
        float: left;
    }
}